html {
  font-family: "Inter", sans-serif;
}
:root {
  --col-primary: #ffd460;
  --col-secondary: #2d4059;
}
body {
  background-color: var(--col-primary);
  color: var(--col-secondary);
}

.date-calc-container {
  border: 1px solid black;
  padding: 16px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  box-shadow: 4px 4px 0px var(--col-secondary);
}

.date-input {
  width: 40%;
  padding: 16px;
  font-size: 16px;
}

li {
  list-style: none;
}

button {
  padding: 16px;
  width: 120px;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
button:hover {
  background-color: var(--col-primary);
  color: var(--col-secondary);
  border: 1px solid var(--col-secondary);
  box-shadow: 4px 4px 0px var(--col-secondary);
}
.button-calculate {
  background-color: var(--col-secondary);
  color: var(--col-primary);
  font-weight: 700;
  width: 50%;
}
